/* Common styles for cover-split under both media conditions */
.cover-split {
  display: flex;
}

/* Mobile styles */
@media only screen and (max-width: 767px) {
  [class*=sqs-col] .sqs-block {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .cover-split {
    gap: 17px;
    flex-direction: column-reverse;

  .blog-cover, .blog-details {
    width: 100% !important;
  }

  .blog-cover {
    height: auto;
    .banner {
      height: auto !important;
    }
  }
  }
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
  .cover-split {
  .blog-cover, .blog-details {
    width: 50%;
  }

  .blog-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: var(--sqs-site-gutter);
  }
}
}

.cover-overlay {
  position:relative;
  .blog-details{
    position: absolute !important;
    top:0;
    bottom:0;
    display:flex;
    flex-direction: column-reverse;
    justify-content:space-between;
    align-items:start;
    padding:2vw;
    h1,span,a,div{
    color: white !important;
    }
  }
  .blog-cover{
    filter:brightness(.5);
  }
}
